<header class="header">
    <div class="header__logo">
        <span class="header__title">Schedule App Unizar</span>
    </div>
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class=" header__menu-item">
                <a routerLink="/input-form" routerLinkActive="active">Login</a>
            </li>
            <li class=" header__menu-item">
                <a routerLink="/user-info" routerLinkActive="active">User Info</a>
            </li>
        </ul>
    </nav>
</header>