<div class="user-info">
    <h2>Kullanıcı Bilgileri</h2>
    <!-- Kullanıcı bilgileri buraya gelecek -->
    <div class="user-details">
        <div>
            <label>User Id:</label>
            <span>{{ user.id }}</span>
        </div>
        <div>
            <label>Kullanıcı Adı:</label>
            <span>{{ user.username }}</span>
        </div>
        <div>
            <label>E-posta:</label>
            <span>{{ user.email }}</span>
        </div>
        <!-- Diğer kullanıcı bilgileri buraya eklenmeli -->
    </div>
    <h3>Rol ve Departman Değiştirme</h3>
    <!-- Rol ve departman değiştirme arayüzü buraya gelecek -->
</div>